*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
display: flex;
justify-content: center;
align-items: center;
height: 100vh; 
}
.container{
  width: 80vw;
  background-color: #ffff;
  padding:15px;
  border-radius: 8px;
  text-align: center;
}
.container .author{
  text-align: end;
  padding-right: 30px;
}
.container button{
  display: inline-block;
  margin: auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.container button i{
  padding: 2px;
}
